*{
	/*box-sizing: border-box;*/
}

/*.content{
	background: #9f2125;
	color: #fff;
}

.content .info{
	padding: 40px;
    color: #fff;
}
*/
 .info  p{
	color: #fff;
}

.info  h1{
	color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.arial{
	font-family: Arial, sans-serif;
}

.noto{
	font-family: 'Noto Serif', Georgia, serif;
}

.raleway{
	font-family: 'Raleway', sans-serif;
}

.heading{
	color: #000000;
    font-family: 'Noto Serif', Georgia, serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 4px;
    padding: 40px 0px 30px;
    text-transform: uppercase;
}

.title{
	color: #000000;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    padding: 18px 0 10px;
}


th.columns.padding_b{
	padding-bottom: 0;
}

.table.button table tr td a:visited, table.button.large table tr td a:visited{
    /*color: #333;*/
    color: #fff;
}

table.button table td.btn{
    background: #fff;
    border: none;
}

table.button table td.btn a{
	color: #9f2125;
	font-size: 16px;
	text-transform: uppercase;
}

table.button table td a{
	font-family: 'Raleway', sans-serif;
}

table.button table td.btn2{
    /*background: transparent;
    border: 1px solid #000000;*/
    border: 1px solid transparent;
    background: #9f2125;
}

table.button table td.btn2 a{
	font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.heading{
    color: #9f2125;
    font-size: 16px;
    font-weight: bold;
}

.content2{
	background: #0a3783;
}

.footer p.follow{
	color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 30px;
    letter-spacing: 4px;
}

.footer{
	background: #da7532;
}

.footer p{
	font-size: 12px;
    color: #e1dbdb;
}

.social-icons{
	border-bottom: 1px solid #e1dbdb;
	padding-bottom: 20px;
}

.note p{
	font-size: 12px;
}

a,a:visited{
    color: #da7532;
}

.social-icons a:hover img{
    filter: invert(18%) sepia(20%) saturate(7064%) hue-rotate(335deg) brightness(103%) contrast(103%);
}



